@charset "UTF-8";

@font-face {
  font-family: "Averia";
  src: url(fonts/AveriaSansLibre-Italic.ttf) format(truetype), url(fonts/AveriaSansLibre-Light.ttf) format(truetype), url(fonts/AveriaSansLibre-LightItalic.ttf) format(truetype);
}
@font-face {
  font-family: "Plump";
  src: url(fonts/Plump.ttf) format(truetype);
}

* {
  font-family: "Arial";
  margin: 0;
  padding: 0;
  font-size: 1em;
}


:root {
  --color1: #000000;
  --color2: #FFFFFF;
  --font-Destaque: "Plump";
  --font-Principal: "Averia";
}

body {
  margin: 0;
  padding: 0;
  min-width: 300px;
  max-width: 1360px;
}

/*--Cabeçalho--*/
header {
  min-width: 300px;
  max-width: 1360px;
  height: 195px;
  background-color: var(--color1);
}

header h1 {
  font-family: var(--font-Destaque);
  font-size: 55px;
  color: var(--color2);
  padding-top: 68px;
  text-align: center;
  margin: auto;
}

header p {
  margin: auto;
  text-align: center;
  color: var(--color2);
}

header a {
   margin: auto;
   font-family: var(--font-Destaque);
   text-decoration: none;
   color: var(--color2);
}

.link {
  padding-top: 13px;
}

a:hover {
  text-decoration: underline;
}

/*--Assunto_Principal--*/

main .text {
  text-align: left;
}
main p {
   margin: auto;
   min-width: 400px;
   line-height: 105px;
   padding-top: 90px;
   padding-left: 25px;
   text-align: left;
   font-family: "Averia";
   font-size: 3.5em;
   display: inline-block;
}

/*--config_img--*/
#container {
   background-image: url(imagens/background001.jpg);
   background-size: 100% 100%;
   background-repeat: no-repeat;
   background-attachment: fixed;
   display: block;
   position: relative;
   height: 96vh;
   padding: 10px;
   margin: auto;
}

#conteudo {
   background-size: 100% 100%;
   position: absolute;
   margin: auto;
   height: 300px;
   width: 400px;
   
}

#containers {
   background-image: url(imagens/background002.jpg);
   background-size: 100% 100%;
   background-repeat: no-repeat;
   background-attachment: fixed;
   display: block;
   position: relative;
   height: 96vh;
   padding: 10px;
   margin: auto;
}

#conteúdo {
   background-size: 100% 100%;
   position: absolute;
   margin: auto;
   height: 300px;
   width: 400px;
}
/*--config_text--*/

#conteudo .joana {
   background-color: rgba(0, 0, 0, 0.322);
   background-attachment: fixed;
   color: var(--color2);
   margin-left: 20px;
   margin-top: 60px;
   min-width: 300px;
   padding: 8px;
   font-size: 23px;
   text-align: left;
   line-height: 70px;
}

#conteúdo .joanas {
  background-color: rgba(0, 0, 0, 0.322);
  background-attachment: fixed;
  color: var(--color2);
  margin-left: 20px;
  margin-top: 60px;
  min-width: 300px;
  padding: 8px;
  font-size: 23px;
  text-align: left;
  line-height: 70px;
}

/*--Rodapé--*/
.rodapé {
   min-width: 300px;
   max-width: 1360px;
   background-color: var(--color1);
   color: var(--color2);
   font-family: Arial, Helvetica, sans-serif;
   height: 30px;
   padding-top: 20px;
   text-align: center;
}

.rodapé a {
  text-decoration: none;
  color: var(--color2);
  font-weight: bold;
}

.externo:hover {
  text-decoration: underline;
}